.customButton{
    width:30%;
    width: 30%;
    color: #19e6e6;
    background: green;
    outline: none;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}


.GET_ALL{
    background:purple;


}

.PUT{
    background:orange;

}
.POST{
    background:yellow;

}

.DELETE{

    background:tomato;

}